body {
	min-height: initial !important;
}

.weather_background {
	background-size: cover !important;
	background-repeat: no-repeat !important;
	background-position: 50% 50% !important;
	opacity: 1;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	transition: all 0.3s ease;
}

.weather_wrapper {
	background-color: rgba(255, 255, 255, 0.8);
}

#lga {
	/* 
	height: 200px !important; 
	zoom: 0.8;
	*/
}

#lga img {
	/* padding-top: 40px !important; */
}

#mv-tiles {
	margin-top: -40px !important;
	min-width: 688px !important;
}

#mv-single {
	display: none;
}

.mv-weather-tile {
	float: left;
	width: 25%;
	text-align: left;
	line-height: 23px;
}

	.mv-weather-tile:nth-child(4n+1) {
		clear: left;
	}

	.mv-weather-tile a, .mv-weather-tile a:visited, .mv-weather-tile a:active {
		display: block;
		background-color: rgb(242,242,242);
		height: 20px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		height: 25px;
		margin: 5px 5px 0 0;
		padding: 2px 2px 2px 6px;
		color: #666666;
		text-decoration: none;
		border-radius: 4px;
	}

		.mv-weather-tile a:hover {
			background-color: rgb(220, 220, 220);
			text-decoration: none;
		}

		.mv-weather-tile a img {
			vertical-align: middle;
		}

#view_backdrop {
	background-color: #4285F4;
	background-position-x: center;
	background-position-y: center;
	background-repeat: no-repeat;
	bottom: 5%;
	color: white;
	cursor: pointer;
	font-size: 24px;
	font-weight: bold;
	width: 40px;
	height: 40px;
	left: 30px;
	line-height: 35px !important;
	position: fixed;
	right: auto;
	text-align: center;
	top: auto;
	z-index: 100;
	transition: all 0.3s ease;
	border: 1px solid white;
}

	#view_backdrop:hover {
		background-color: #FF390C;
	}


#view_details {
	display: none;
	background-color: rgba(255, 255, 255, 0.7);
	bottom: 5%;
	font-size: 14px;
	/*width: 180px;*/
	vertical-align: central;
	height: 38px;
	left: 70px;
	line-height: 18px !important;
	position: fixed;
	text-align: left;
	border: 1px solid white;
	padding-left: 10px;
	padding-right: 10px;
	max-width: 50%;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-top: 2px;
}

	#view_details span {
		max-height: 20px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		color: #4285F4;
	}

	#view_details a, #view_details a:link, #view_details a:visited, #view_details a:active {
		z-index: 100;
		transition: all 0.3s ease;
		text-decoration: none;
		font-weight: bold;
		cursor: pointer;
		color: #4285F4;
	}

	#view_details a:hover {
		color: #FF390C;
	}