body {
	background-color: #F7F7F7;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	color: black;
	background-size: cover;
	background-repeat: no-repeat;
	font-family: Trebuchet MS;
	font-size: 12px;
	padding: 0;
	margin: 0;
	-webkit-transition: background-image 0.2s ease-in-out;
	-moz-transition: background-image 0.2s ease-in-out;
	-o-transition: background-image 0.2s ease-in-out;
	transition: background-image 0.2s ease-in-out;
}

table tr td
	{
	font-family: Trebuchet MS;
	font-size: 12px;
	padding: 10px;
	}


#main_container {
	display: none;
	background-color: #F7F7F7;
	padding: 0px;
	/*width: 671px;*/
}

#title
	{
	border-bottom: 1px solid #CCCCCC;
	font-size: 16px;
	height: 30px;
	line-height: 30px;
	clear: both;
	text-indent: 5px;
	font-weight: 500;
	}

	#title .links {
		font-size: 12px;
		padding-right: 10px;
	}

		#title .links a span {
			display: inline;
		}

#weather {
	
}

.box, .box_now
	{
	margin: 5px;
	vertical-align: middle;
    font-size: 12px;
	padding-top: 10px;
	}
	
.box_now
	{
	float: left;
	width: 45%;
	}

.box_now_left {
	float: left;
	text-align: center;
}

.box_now_right {
	float: right;
	margin-left: 10px;
}

    .box_now .wi {
        font-size: 16px;
        width: 25px;
        text-align: left;
    }

	.box_now span .wi {
		font-size: 70px;
		text-align: center;
		padding-top: 5px;
		padding-bottom: 10px;
        width: 100px;
	}

	.box_now .temp .wi {
		height: 100px;
		padding-top: 10px;
	}

.box_forecast {
	float: right;
	width: 50%;
	text-align: right;
	/*background-color: rgb(242, 242, 242);*/
	height: 170px;
	padding-top: 2px;
}

	.box_forecast .box {
		width: 55px;
		float: left;
		text-align: center;
		overflow: hidden;
	}

    .box_forecast .box i {
        font-size: 32px;
        width: 70px;
        text-align: center;
		padding-bottom: 5px;
    }

    .box_forecast .box .subtitle {
        font-size: 13px;
        white-space: nowrap;
    }

.box img, .box_now img
	{
	margin-right: 10px;
	/*margin-bottom: 10px;*/
	border: 1px solid #DDDDDD;
	background-color: White;
	}
	
.high
	{
	color: #FF390C;
	font-size: 14px;
	font-weight: bold;
	}

.low
	{
	color: #7FC9FF;
	font-size: 14px;
	font-weight: bold;
	}

.box_now .now
	{
	color: #000;
	font-size: 50px;
	padding-left: 10px;
	}

.box_now .condition {
	font-size: 16px;
	color: #4885ed;
	margin-bottom: 5px;
}

#footer {
	color: #666;
	font-size: 11px;
	text-align: right;
	float: right;
	width: 100%;
}

	#footer .inner_content {
		padding: 6px 10px 0 10px;
	}

	#footer .separator {
		height: 1px;
		background-color: #CCC;
		width: 100%;
		float: right;
		margin-top: 10px;
		margin-bottom: 10px;
	}

.tips {
    text-align: right;
    float: right;
    padding: 10px 10px 10px 0;
	position: fixed;
    bottom: 0;
    right: 0;
	width: 100%;
    color: #999;
}

.fa-spin {
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.loading {
    padding-right: 4px;
    padding-bottom: 2px;
}

.loading_small {
    padding-right: 5px;
    padding-bottom: 0px;
}

.preload_image {
	color: #4885ed;
	font-size: 0.75em;
}

	.preload_image a {
		color: #4885ed;
	}